<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nainfox.drawview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".view.common.BasicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".view.load.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.load.TutorialActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.add.AddDiaryActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.add.ModifyDiaryActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>


        <!-- popup -->
        <activity
            android:name=".view.add.WritePopup"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".view.add.WeatherPopup"
            android:theme="@style/AppTheme.CustomPopup"/>
        <activity
            android:name=".view.add.ExitPopup"
            android:theme="@style/AppTheme.CustomPopup"/>
        <activity
            android:name=".view.main.SharePopup"
            android:theme="@style/AppTheme.CustomPopup"/>
        <activity
            android:name=".view.add.SavePopup"
            android:theme="@style/AppTheme.CustomPopup"/>
    </application>

</manifest>